# Dependências
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Diretórios de build
dist/
build/

# Arquivos de cache
.cache/
.tmp/

# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Diretórios de testes
coverage/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos do editor/IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Outras pastas temporárias
tmp/
temp/
